.gnb-nav {
  &-list {
    @include flexbox(start);
  }
  &-item {
    margin-right: 24px;

    &.is-active {
      a {
        color: $blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(18, $primary);
      display: block;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
