* {
  font-family: $font-main;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: $font-main;
}

body {
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: $font-main;
  border: 0;
  background: none;
  appearance: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  margin: 0;
}
